<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> Tervetuloa etusivulle! </h1>
        <h1></h1>
        <div>Täällä voit hakea ja selata reseptejä raaka-aineen, tyypin tai nimen mukaan</div>
       <button class="btn btn-danger">Reseptisivulle</button>
<button class="btn btn-danger">Kirjautumissivulle</button>
    
    </body>
</html>
