<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Reseptitietokanta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> Tervetuloa etusivulle! </h1>
        <h1></h1>
        <div>Täällä voit hakea ja selata reseptejä raaka-aineen, tyypin tai nimen mukaan</div>
  <li style="margin-top: 10px;"><a href="register" style="margin-left: 25px;">Rekisteröityminen</a></li>
  <li style="margin-top: 10px;"><a href="reseptilista" style="margin-left: 25px;">Reseptilista</a></li>
    <li style="margin-top: 10px;"><a href="reseptinlisays" style="margin-left: 25px;">Lisää resepti</a></li>
      <li style="margin-top: 10px;"><a href="reseptinmuokkaus" style="margin-left: 25px;">Muokkaa reseptiä</a></li>
    
    </body>
</html>
