   {% extends "base.html" %}
{% block content %}

  <h1>Hae reseptiä:</h1>
  <input placeholder="Tavallinen tekstikenttä" type="text">
  <button>Hae</button>
  
<h1></h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Ohje</th> 
        <th>Arviointi</th>
         
      </tr>
    </thead>
    <tbody>
        {% for resepti in reseptit %}
        <tr>
            
        
         <td><a href="{{base_path}}/resepti/{{resepti.id}}">{{resepti.name}}</a></td>
        <td>{{resepti.description}}</td>
        
        <td> {{resepti.arviointi}} </td>
        
      </tr>
     {% endfor %}
     
    </tbody>
     
  </table>

{% endblock %}