   {% extends "base.html" %}
{% block content %}


<h1> Muokkaa {{resepti.name}}</h1>
  
  
  <form method="post" action="{{base_path}}/resepti/{{resepti.id}}/edit">
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" value="{{resepti.name}}" type="text">
    </div>
    
    <div class="form-group">
      <label>Ohje</label>
      <input name="description" class="form-control" value="{{resepti.description}}" type="text">
    </div>
   
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna muutokset</button>
    </div>
</form>

{% endblock %}


