   {% extends "base.html" %}
{% block content %}

{% if user_logged_in %}



<h1> Muokkaa reseptiä: {{resepti.name}}</h1>
  
  
  <form method="post" action="{{base_path}}/resepti/{{resepti.id}}/edit">
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" value="{{resepti.name}}" type="text">
    </div>
    
    <div class="form-group">
      <label>Ohje</label>
      <input name="description" class="form-control" value="{{resepti.description}}" type="text">
    </div>
   
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna muutokset</button>
    </div>
</form>
  {% else %}
  <h1> Kirjaudu ensin sisään! </h1>
{% endif %}
{% endblock %}


